<section class="MainContents">
	<div class="TimeLine">
		<h1>Camp Ranking!</h1>
    <h2><%= @selected_camp.camp_period %>・<%= @selected_camp.camp_name %></h2>

		<form action="/camp_ranking">
			<select name="selected_ranking">
				<% @all_camps.each do |camp| %>
					<option value="<%= camp.id %>"><%= camp.camp_period %>・<%= camp.camp_name %></option>
				<% end %>
			</select>
      <input type="submit" value="キャンプ毎">
		</form>

		<% if !current_user.nil? %>
			<% if !@selected_camp_ranking.nil? %>
				<% i = 1 %>
				<% for ranking in @selected_camp_ranking do %>
					<div class="ListCont">
						<h2><%= i %></h2>
						<% user = what_mentor?(ranking.user_id) %>
						<% camp = what_camp?(ranking.camp_id) %>
						<div class="TimeList">
							<h1><%= user.mentor_name %></h1>
							<h4><%= camp.camp_period %></h4>
							<h2><%= camp.camp_name %></h2>
							<video width='100%' height='100%' preload="none" controls muted autoplay loop>
								<source src="<%= ranking.video_url %>#t=0.5" type="video/mp4">
								<source src="<%= ranking.video_url %>#t=0.5" type="video/ogg">
								<source src="<%= ranking.video_url %>#t=0.5" type="video/webm">
								<source src="<%= ranking.video_url %>#t=0.5" type="video/mov">
							</video>
							<p><%= ranking.funny_comment_body %></p>

							<% i += 1 %>

						</div>
					</div>
				<% end %>
			<% else %>
				<p>投稿がありません</p>
			<% end %>

		<% else %>

		<% end %>
	</div>
</section>