<section class="center-vertical">

</section>

<% if !current_user.nil? %>
	<section class="">
		<% if !@follow_comedy.nil? %>
			<% for all_comedy in @all_comedys do %>
				<% if following?(all_comedy.user_id) %>
					<% camp = camp_name(follow_timeline.camp_id) %>
					<% mentor = what_mentor?(follow_timeline.user_id) %>
					<div class="">
						<h1><%= mentor.mentor_name %></h1>
						<h4><%= camp.camp_period %></h4>
						<h2><%= camp.camp_name %></h2>
						<%# video %>
						<p><%= follow_timeline.funny_comment_body %></p>
						<p><%= follow_timeline.good_count %></p>
						<p><%= follow_timeline.funny_count %></p>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<p>投稿がありません</p>
		<% end %>
	</section>
<% else %>
<% end %>



<%# <section class="center-vertical">
	<h1>〇〇のイイねした投稿</h1>
	<p>イイねがありません</p>
</section>

<section class="center-vertical">
	<h1>〇〇 のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1>〇〇のフォロワー</h1>
</section> %>