<section class="first-view center-vertical">
	<h1>IPPATSU!!!!</h1>

	<% if !current_user.nil? %>

	<% else %>

		<div class="login_button">
			<form action="/signin" method="post">
				<input type="text" name="mentor_name" placeholder="ユーザー名">
				<input type="text" name="password" placeholder="password">
				<input type="submit" value="ログイン">
			</form>
		</div>

	<% end %>

</section>

<section class="center-vertical">

	<% if !@all_comedys.nil? %>
		<% for comedy_story in @all_comedys do %>
			<div class="">
				<h1><%= comedy_story.user_id %></h1>
				<h2><%= comedy_story.camp_id %></h2>
				<%# video %>
				<p><%= comedy_story.funny_comment_body %></p>
				<p><%= comedy_story.good_count %></p>
				<p><%= comedy_story.funny_count %></p>
			</div>
		<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>
</section>