<section class="center-vertical">

</section>

<% if !current_user.nil? %>
	<section class="MainContents">
    <div class="TimeLine">
      <% if !@user_comedys.nil? %>
        <% for user_comedy in @user_comedys do %>
          <% camp = what_camp?(user_comedy.camp_id) %>
          <div class="ListCont">
            <h4><%= camp.camp_period %></h4>
            <h2><%= camp.camp_name %></h2>
            <video width="100%" height='100%' preload="none" controls muted autoplay loop>
							<source src="<%= user_comedy.video_url %>#t=0.5" type="video/mp4">
							<source src="<%= user_comedy.video_url %>#t=0.5" type="video/ogg">
							<source src="<%= user_comedy.video_url %>#t=0.5" type="video/webm">
							<source src="<%= user_comedy.video_url %>#t=0.5" type="video/mov">
						</video>
            <p><%= user_comedy.funny_comment_body %></p>
            <p>いいね<%= user_comedy.good_count %></p>
            <p>おもろい<%= user_comedy.funny_count %></p>





            <form action="/edit">
              <input type="submit" value="編集">
              <input type="hidden" name="comedy_id" value="<%= user_comedy.id %>">
            </form>
            <form action="/delete" method="post">
              <input type="submit" value="削除">
              <input type="hidden" name="comedy_id" value="<%= user_comedy.id %>">
            </form>
          </div>
        <% end %>
      <% else %>
        <p>投稿がありません</p>
      <% end %>
    </div>
	</section>
<% else %>
  <a href="/">ログインはこちら</a>
<% end %>



<%# <section class="center-vertical">
	<h1>〇〇のイイねした投稿</h1>
	<p>イイねがありません</p>
</section>

<section class="center-vertical">
	<h1>〇〇 のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1>〇〇のフォロワー</h1>
</section> %>