<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="/search" method="post">
		<input type="text" name="artist_name" placeholder="アーティスト名">
		<input type="submit" value="検索">
	</form>
	<h2>検索結果</h2>
		<% unless @search_result %>
			<p>検索結果がありません</p>
		<% else %>
			<% @search_result.each do |music| %>
				<div class="center-hrizontal">
					<div class="post center-vertical">
						<img src="<%= music["collectionViewUrl"] %>">
						<p><%= music["artistName"] %></p>
						<p><%= music["collectionName"] %></p>
						<p><%= music["trackName"] %></p>
						<a href="<%= music["previewUrl"] %>">サンプル</a>
						<form action="/comment" method="post">
							<input type="text" name="music_comment" placeholder="コメント">
							<input type="submit" value="投稿">

							<input type="hidden" name="artist_name" value="<%= music["artistName"] %>">
							<input type="hidden" name="album_name" value="<%= music["collectionName"] %>">
							<input type="hidden" name="music_name" value="<%= music["trackName"] %>">
							<input type="hidden" name="music_img_url" value="<%= music["collectionViewUrl"] %>">
							<input type="hidden" name="sample_music_url" value="<%= music["previewUrl"] %>">
						</form>
					</div>
				</div>
			<% end %>
		<% end %>




	<%# TODO: 検索結果によって分岐 %>


</section>